.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.wrapper .modal {
    background: var(--nav);
    padding: 15px;
}

.wrapper .modal textarea {
    min-width: 250px;
    max-width: 250px;
    height: 150px;
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    gap: 50px
}

.wrapper .flex div {
    padding: var(--buttonPadding);
    text-align: center;
    min-width: 70px;
    background: var(--buttonBg);
    color: var(--buttonC)
}