.wrapper {
   cursor: pointer;
   /* border:1px solid red;
   background-color: black; */
   /* transform: scale(1.1); */
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 10px;
}

.wrapper .mobileLogo {
    display: none;
}

.wrapper img {
    width: 70%;
    height: auto;
    overflow: hidden;
    transform: scale(1.25);
    max-height: 60px;
}
@media (max-width:540px) {
    .wrapper .mobileLogo {
        display: block;
    }
    .wrapper .logo {
        display: none;
    }
}

/* 
@media (min-width:1200px) {
  .wrapper img {
    width: 50%;
  }
}
 */

