.wrapper {
    background: var(--cardBg);
    padding: 10px;

    text-align: center;
}

.wrapper .image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.wrapper img {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--borderColor)
}

.wrapper .name {
    font-weight: bold;
    font-size: 110%;
}