.wrapper {
    padding: 25px;
    min-height: 100vh;
}

.wrapper .heading {
    display: flex;
    justify-content: space-between;
    background: var(--cardBg);
    margin: 10px 0;
    gap:5px;
    /* padding: 10px; */
}

.wrapper .option {
    /* border: 1px solid black; */
    flex: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;

}

@media (min-width:1024px) {
    .wrapper {
        padding: 15px var(--percent);

    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }
}


@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }
}