.wrapper {
    padding: 25px;

}

.top {
    text-align: center;
    margin-bottom: 35px;
}

.topMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid var(--borderColor);
    /* padding-bottom: 10px; */
    display:none;
}

.topMobile .title {
    width: 90%
}



.topMobile .seeMoreMobile {
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    gap:10px;
  
}

.top h3 {
    margin: 0;
}

.top .left {
    font-weight: bold;
    font-size: 120%;

}

.top .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.right .item {
    cursor: pointer;
}

.right .item:hover {
    color: var(--theme)
}

.products {
    display: flex;
    overflow-x: scroll;
    /* border: 1px solid red; */
    margin-top: 15px;
    overflow-x: scroll;
    gap: 15px;
}

.wrapper .seeMore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1024px) {
    .wrapper {
        padding: 15px var(--percent);
    }
}





@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .wrapper .top {
        display: none;

    }
    .wrapper .topMobile {
        display: flex;
    }

    .wrapper .seeMore {
        display: none;
    }


}

@media (max-width:410px) {
    .products {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .wrapper {
        padding: 10px;
    }
}