.wrapper {
    display: flex;
    gap: 15px;
    padding: 25px;
    /* align-items: flex-start; */
}

.left {
    padding: 15px;
    border-radius: 0;
    background: var(--cardBg);
    flex: 2.3;

}

.left .note .text {
    border: 1px dotted var(--borderColor);
    padding: 10px;
}

.left .payment span {
    border-radius: 0;
    padding: 3px;
    background: skyblue;
}


.left .status__steps {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper .statusTimeline {
    background: var(--cardBg);
    margin: 10px 0;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 0;
    margin-top: 30px;
    ;
}

.wrapper button {
    padding: var(--buttonPadding)
}


.left .details .item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;

}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.wrapper .statusTimeline .item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;

}


.update__status {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.update__status span {
    border: 1px solid var(--borderColor);
    padding: 3px 5px;
    border-radius: 0;
    cursor: pointer;
}

.wrapper .right .mapWrapper {
    background: var(--cardBg);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.wrapper .right .mapWrapper .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 110%;
}

@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}

@media (max-width:720px) {
    .wrapper {
        flex-direction: column;
    }

    .right {
        width: 100%;
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;

    }

    .right {
        width: 100%;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }
}