@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

:root {

  --font: 'Ubuntu', sans-serif;
  --percent: 10%;
  --box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
  --background: linear-gradient(rgb(197, 228, 255), white, rgb(170, 214, 253), white, rgb(174, 216, 253));
  --nav: rgb(221, 235, 255);
  --cardBg: rgba(151, 226, 255, 0.5);
  --buttonBg: linear-gradient(45deg, #04afff, #52c3f8);
  --buttonC: white;
  --borderColor: #99a09e;
  --inputField: linear-gradient(245deg, rgba(255, 255, 255), rgba(255, 255, 255));
  --hoverBgColor: rgb(100, 124, 122, 0.1);
  --hoverColor: rgb(0, 183, 255);
  --scrollbar: rgb(72, 146, 68);
  --theme: #04afff;
  --icon: rgb(0, 0, 0);
  --buttonPadding: 7px 10px;
  --logo: linear-gradient(45deg, rgb(62, 86, 84) 50%, rgb(62, 86, 84) 50%);
  --hoverButtonBg: rgb(0, 255, 247);


}

::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 183, 255)
}



html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 98%;
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  /* text-transform: uppercase; */
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}



::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  width: 12px;
}



body {
  color: rgb(0, 0, 0, 0.8);
  background: var(--background);
  min-height: 100vh;
  font-family: var(--font)
}

a {
  color: inherit;
  text-decoration: none;
  color: rgb(0, 183, 255);
}

li {
  list-style-type: none;
}



input,
select,
textarea {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  background: var(--inputField);
  border-radius: 0;
  border: none;
  padding: var(--buttonPadding)
}


button {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0px;
  background: var(--buttonBg);
  color: var(--buttonC);
  cursor: pointer;
  padding: var(--buttonPadding);
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  box-shadow: var(--box-shadow);
}




label {
  font-weight: bold;
}

@media (max-width:570px) {
  body {
    font-size: 97%;
  }
}

@media (max-width:480px) {
  body {
    font-size: 96%;
  }
}


@media (max-width:380px) {
  body {
    font-size: 95%;
  }
}