.wrapper {
    background-color: var(--cardBg);
    border-radius: 0;
    overflow: hidden;
    max-width: 250px;
    min-width: 140px;
    cursor: pointer;
    /* min-width: 170px; */
    box-shadow: var(--box-shadow);

}

.wrapper .pic {
    overflow: hidden;
    position: relative;
    background: initial;
    /* aspect-ratio: 1/1; */
    max-height: 180px;
}

.wrapper .pic .distance {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--buttonBg);
    padding: 3px 5px;
    columns: var(--buttonColor);
}

.wrapper .pic img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    overflow: hidden;
}



.wrapper .details {
    padding: 10px;
}

.wrapper .category {
    color: grey;
    font-size: 80%;
    margin-bottom: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper .departments {
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 90%;
    color: grey
}

.wrapper .price {
    font-weight: bold;
    color: var(--theme)
}

.wrapper .flex {
    display: flex;
    gap: 10px;
    font-size: 70%;

}

.wrapper .flex .price {
    color: grey;
}


@media (max-width:410px) {

    .category {
        /* display: none; */
    }



}